<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      {{'ADD'|translate | titlecase}}
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button fill="outline" color="danger" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formNota" (ngSubmit)="addNote()">
    <ion-item>
      <label>
        {{'TITLE'|translate | titlecase}}
      </label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-textarea>
      <label>
        {{'DESCRIPTION'|translate | titlecase}}
      </label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-textarea>
    <ion-button expand="full" color="primary" type="submit" [disabled]="this.formNota.invalid">{{'ADD'|translate | titlecase}}</ion-button>
</form>
</ion-content>
